<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNR2n7PdAC_kRTZrympwhSXDWnSawD9AE">
  </script>
  <link type="text/css" rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <div class ="container content-style col-md-8 col-md-offset-1 col-xs-9 text-justify text-center">
    <h1 class="mt-5 style-header">Trashify</h1>
    <br>
    <br>
    <p>
    Our main agenda with this platform given was to bring in awareness of a dire issue in modern times. Waste disposal has become a huge menace
    <br>
    to the environment. We plan to start with a small way to contribute by creating awareness about the disposal bins in the city of New York.
    <br>
    We obtained the data about the disposal bins by the Department of Sanitation for the city of New York. We guide a user to the nearest disposal bins.
    </p>
  <button class="btn btn-style" onClick="LocationUpdate()" id="showMap">
    <i class="fa fa-trash" aria-hidden="true"></i>
    Locate Trash cans near me</button>
  </div>
  
  <div class="container">
    <div>
      <div id="googleMap"></div>

    </div>
  </div>
  <map>
    <% include ./maps.html %>
  </map>

  
</body>

</html>
