<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNR2n7PdAC_kRTZrympwhSXDWnSawD9AE">
  </script>
  <link type="text/css" rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class ="container">
    <h1>"Use Me!"</h1>
    <br>
    <br>
    <h3> About us </h3>
    <p class="">
    We are a bunch of environmentally concious students trying to do our part to reduce Global warming.
    After analysing data and running prediction models on the same, we understood how huge a problem garbage is. Even though we can segragate waste as recyclable or not, it is still hard to actually recycle the waste.
    Imagine, there are so many things which are a mixture of plastic, metal and stylafoam. It is hard to seperate one type of material from the other.
    Mismanaged plastic and waste ultimately finds its way into ocean. I believe we have all seen the effects of that.
    The least we can do to help, is to segregate waste at source. With the hope that such a statistic can be improved.
    Kindly, use our app to help us facilitate the path for you.
    </p>
  </div>
  <div class="col-md-5 text-center">
  </div>
  <br />
  <button onClick="LocationUpdate()" id="showMap">Show me!</button>

  <div class="container">
    <div>
      <div id="googleMap"></div>

    </div>
  </div>
  <map>
    <% include ./maps.ejs %>
  </map>

  
</body>

</html>
